{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class="mt-5">
    <div class="text-center">
        <img src="{% static 'core/image/vikas.jpg' %}" alt="profile pic" class="img-thumbnail" width="150px" height="50px">
    </div>
    <div class="mt-5 text-white mx-5 text-justify">
        <h1 class="font-weight-bold st-font">Hello ,</h1>
        <div class="px-4" style="line-height: 2rem;">
            <p style="text-indent: 100px;">I am <b class="text-warning">Vikas Kumar</b> having 1 year of Accounting experience for T D Arora Feed Mills,
                I offer the Accounting experise you are seeking for your Accountant Position.
            </p>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque perspiciatis suscipit corporis rem nihil temporibus odio, excepturi dolorem accusamus in laudantium delectus atque similique rerum adipisci aspernatur ratione laborum ea.
            </p>
        </div>
    </div>
    <div class="text-center ">
        <a href="" class="btn btn-outline-warning my-3 mr-5" style="margin: 20px;">Hire me</a>
        <a href="" class="btn btn-outline-info my-3" style="margin: 20px;">Contact</a>
    </div>
</div>
{% endblock content%}